

.items{
    position: fixed;
    top: 15%;
    right: 4%;
    width: 8rem;
    height: 70vh;
    background: var(--lightcolor);
    border: 2px solid var(--main);
    border-radius: 30px;
    box-shadow: 0px 2px 10px var(--main);
    transform: translateX(100px);
    transition: all ease-in-out 0.4s;
    animation: shadow 4s infinite linear, displaying 2s forwards;
}



@keyframes displaying {
    to{
        transform: translateX(0);
    }
}

@keyframes shadow {
    0%{
        border-color:  #22026124;
    }

    20%{
        border-color:  #0e0678c0;
    }
    50%{
        border-color:  var(--main);
    }

    60%{
        border-color:  rgba(8, 1, 58, 0.747);
    }

    80%{
        border-color:  #822bd9;
    }

    100%{
        border-color:  #f9482203;
    }
}


.items .icon_items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


.icon_items .icon_box{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    background: var(--main);
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--lightcolor);
    transition: all 0.2s ease-in-out;
}

.icon_items .icon_box .icon{
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.icon_box.active,
.icon_box:hover{
    background: var(--btncolor);
    color: var(--lightcolor);
    box-shadow: 0px 0px 5px var(--main);
    transform: scale(1.13);
}
